<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit the post</title>
</head>
<body>
  <h2>Edit your post</h2>
  <p>Post id :<%=post.id %></p>
  <p>Post username: <%=post.username%> </p>
  <form method="POST"action="/posts/<%= post.id %>?_method=PATCH">
   
    <textarea name="content" rows="4" cols="50"><%= post.content %></textarea>
    <input type="hidden" name="id" value="<%= post.id %>">
    <button type="Submit">Button</button>
  </form>
</body>
</html>